<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>

        <h1>STAFF LEAVE MANAGEMENT</h1>
        <button><a href="{% url 'login' %}">LOGIN</a></button>
        <button><a href="{% url 'register' %}">REGISTER</a></button>
        <br><br><br>
        <footer>
            THIS IS MADE BY RAJSHEKAR REDDY USING DJANGO @2026
        </footer>
    </center>
</body>
</html>